*.swp
*.swo
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/database/*.sqlite
/database/*.sqlite-journal
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
.php_cs.cache
tags.vendors
